{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<h1> {{ user.user_name }}'s friend list </h1>

<p>
    <div class = "row">
    <div class = "col" >
      <img src="/static/Homepage.jpg" class="img-fluid" id="top_img">
    </div>
    </div>
</p>


<!-- show list of friends -->
<div>
    <form action="/user/{{user.email}}/friend_list_landing_page/delete_friend" method="post">
        {% for friend in list_of_friends_objects  %}
        <p>
            <div>
            <input type="checkbox" id="{{friend.friend_edit_id}}" name="friend_selected" value="{{friend.friend_edit_id}}">
            <label for="{{friend.friend_edit_id}}">
                {{ friend.friend_username}} </div>
                <div>Email: {{ friend.friend_email}} </div>
            </label>
        </p>
        {% endfor %}
    <div class="row">  
        <div class="col">  
            <button type="submit" class="btn btn-light"> Delete seleted friends </button>
        </div>
    </form>




<!-- create new friend section -->
    <div class="col">
    <form action="/user/{{user.email}}/friend_list_landing_page/add_new_friend">
        <button type="submit" class="btn btn-light"> Add a new friend </button>
    </form>
    </div>
<!-- go back section -->
    <div class="col">
    <form action="/user/{{user.email}}/discussion_forum">
        <input type="submit" value="Go back to my discussion forum page" class="btn btn-light">
    </form>
    </div>

<br>
<br>
<br>
</div>
</div>

{% endblock %}