{% extends 'base.html' %}



{% block body %}
<!-- top bar  -->
<nav class="navbar navbar-expand-lg bg-light sticky-top ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dating Romance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/user/{{user.email}}">Dating log</a>
                <a class="nav-link" href="/user/{{user.email}}/analysis"> Market analysis</a>
                <a class="nav-link" href="/user/{{user.email}}/fortune_telling">Fortune telling</a>
                <a class="nav-link" href="/user/{{user.email}}/discussion_forum">Discussion forum</a>
            </div>
        </div>
    </div>
</nav>


<h1> Make {{ user.user_name }}'s every dating counts </h1>

<p>
    <div class = "row">
    <div class = "col" >
      <img src="/static/Daisy.jpg" class="img-fluid" id="top_img">
    </div>
    </div>
</p>


<!-- create new log section -->
<p>
<div class = "row">
    <div class = "col" >
        <div>
            <h2>Create new story </h2>
        </div>
        <form action="/new_dating_log">
            <button type="submit" class="btn btn-light"> Create a new dating log </button>
        </form>
    </div>


<!-- filter historial logs by ratings -->
    <div class = "col" >
    <div>
    <h2>Dating log sorting </h2>
    </div>
    <form action= "/user/sorting/user_email/api" method ="post">
        <p>
            <div class="input-group mb-3">
                <label for="sorting_object">Sort by: &nbsp &nbsp </label>
            <select name="sorting_object" class="form-select" id="sorting_object">
                <option value="overall_rating">Rating score</option>
                <option value="date_of_the_date">Date</option>
                <option value="first_name_dated">First name</option>
            </select>
            </div>
        </p>
        <p>
            <div class="input-group mb-3">
            <label for="sorting_rule">Sort rule:  &nbsp</label>
            <select name="sorting_rule" class="form-select" id="sorting_rule">
                <option value="High_to_low">High to low</option>
                <option value="Low_to_high">Low to High</option>
            </select>
            </div>
        </p>
        <input type="submit" value="Sort" id="sort" class="btn btn-light">
    </form>
    </div>
</div>
</p>

<!-- showcase all the history logs Grid cards -->
<p>
<h2>{{ user.user_name }}'s dating log library </h2>



<div id="historical_logs">

<div id="historical_logs_clean_after_sorting">
{% for log in list_of_log_objects  %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ log.picture}}" class="img-fluid rounded-start profile_pic" >
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a href="/user/logs/{{ log.log_id }}">
                    <h5 class="card-title"> {{ log.first_name_dated}} {{ log.last_name_dated}}</h5>
                </a> 
            <p class="card-text">
                Overall rating: {{ log.overall_rating}} <br>
                Key takeaway:  {{ log.key_takeaway}}
            </p>
            <p class="card-text"><small class="text-muted"> We met on {{ log.date_of_the_date}} </small></p>
            </div>
        </div>
        </div>
    </div>

{% endfor %}
</div>
</div>
</div>
</p>



<script src="/static/sort.js"></script>

{% endblock %}